.env
/secret/
client*.json
x3.csv
xa.csv
/_output/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
a*.bat
a.rb
b.rb
c.rb
log.txt
dump*.x
dump*.txt
?.rb
?.csv
?.rb
?.txt
?.yml
?.json
??.yml
??.json
*.bat
*.thor
*.code-workspace
command.bat
command
exe/a.rb
exe/cpiconfiles
extlist.txt
#
a*.csv
a*.yaml

